.nw-masthead {
}
.nw-masthead__wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.nw-masthead__text {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: #545454;
  flex: 0 0 50%;
  height: 100%;
  width: 50%;
}

.nw-masthead__title {
  background-color: #ffd0d4;
  margin: 0;
  font-size: 80px;
  width: max-content;
  margin-bottom: 5px;
}
.nw-masthead__prof {
  margin-top: 45px;
}
.nw-masthead__text p {
  background-color: #ffd0d4;
  font-size: 40px;
  margin: 0;
  margin-bottom: 3px;
  width: max-content;
}
.yellow {
  color: #fdbb43;
}
.nw-masthead__img {
  position: relative;
  height: 100%;
  flex: 0 0 50%;
  width: 50%;
}
.nw-masthead__img img {
  position: relative;
  bottom: -50px;
}
.nw-masthead__img span {
  display: block;
  height: 707px;
  width: 707px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: black;
}

@media (max-width: 1630px) {
}
@media (max-width: 1500px) {
}
@media (max-width: 1400px) {
}
@media (max-width: 1300px) {
}
@media (max-width: 1199px) {
  .nw-masthead__text {
    order: 2;
    flex: 0 0 100%;
    width: 100%;
    align-items: center;
  }

  .nw-masthead__prof {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nw-masthead__img {
    flex: 0 0 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .nw-masthead__img img {
    bottom: 40px;
  }
}
@media (max-width: 991px) {
  .nw-masthead__title {
    font-size: 60px;
  }

  .nw-masthead__text p {
    font-size: 30px;
  }

  .nw-masthead__img img {
    width: 400px;
    height: 400px;
    bottom: 40px;
  }
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
  .nw-masthead__img img {
    width: 290px;
    height: 290px;
  }
  .nw-masthead__title {
    font-size: 40px;
  }
  .nw-masthead__text p {
    font-size: 20px;
  }
  .nw-masthead__prof {
    margin-top: 20px;
  }
}
